POSTGRES_DB=atlas
POSTGRES_USER=atlas
POSTGRES_PASSWORD=atlas
POSTGRES_PORT=5433

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5433/atlas
SPRING_DATASOURCE_USERNAME=atlas
SPRING_DATASOURCE_PASSWORD=atlas